pydantic
dotenv
playwright

#agent related
crewai
crewai[tools]

# not agent related
supabase
fastapi

#conflicting packages need to be installed manually
#autogen-agentchat 0.5.1
#autogen-ext[openai]
#crawl4ai 0.5.0.post8

#eg: pip install autogen-agentchat==0.5.1 autogen-ext[openai]

